# VITE_SERVER_API=https://bitwise-backend.onrender.com
# VITE_YOUTUBE_API=PASTE_YOUR_YOUTUBE_API_HERE

# Ignone above comments
VITE_SERVER_API=http://localhost:5050
VITE_YOUTUBE_API=add_your_youtube_api_here