.courses-page {
  padding: 20px;
  min-height: calc(100dvh - 84px);
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  max-width: 1200px;
  margin: auto;
  position: relative;
  z-index: 1;
  background-color: var(--bg_secondary_light);
  border-radius:5px;
}

.category-button {
  background-color: var(--bg_secondary); /* Dark gray for buttons */
  color: var(--text_clr);
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.9rem; /* Adjust font size */
  flex-grow: 1;
  flex-shrink: 1;
}

.category-button:hover {
  background-color: var(--bg_buttons); /* Blue on hover */
  color:#fff;
}

.category-button.active {
  color: #fff;
  background-color: var(--bg_buttons); /* Active button color */
}

.courses {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin: auto;
}

.no-courses {
  color: #ff0000;
  font-weight: bold;
  text-align: center; /* Center the no courses message */
}
.course-heading{
  width: 100%;
  max-width: 800px;
  margin: auto;
  text-align: center;
  user-select: none;
}

@media screen and (min-width:768px) {
  .categories{
    position: sticky;
    top: 85px;
    left: 0;
  }
  /* .searchbar-st{
    position: sticky;
    top: 86px;
    left: 0;
  } */
}