.search-bar {
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.search-input {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid var(--subtext); /* Dark border */
  border-radius: 80px;
  font-size: 1rem;
  background-color: var(--bg_secondary); /* Dark input background */
  color: var(--text_clr); /* Light text color */
}

.search-input:focus {
  outline: none;
  border-color: var(--bg_buttons); /* Blue border on focus */
  border-radius: 80px;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Subtle shadow */
}
